<!DOCTYPE html> 
<html lang="en"> 

<head>
	 <title>InMap</title>
	 <link rel="stylesheet" href="../static/css/style.css" />
	 <meta charset="utf-8">
</head>
<body style="background-color: #b1fbfc">
<div id="wrapper">
	<header>
	<nav> 
		<ul> 
			<!--li><a href="index.html">home</a></!--li>
			<li><a href="journal.html">journal</a></li>
			<li><a href="contact.html">report a bug</a></li>
			<li><a href="landing.html">sign out</a></li-->
			<li><a href="index.html">home</a></!--li>
			<li><a href="wip.html">journal</a></li>
			<li><a href="wip.html">report a bug</a></li>
			<li><a href="wip.html">sign out</a></li>
		</ul>
	</nav>
	</header>
	
	<div id="container">
		<div id="mapdiv">
			<p align="center">
				<!--iframe src="https://createaclickablemap.com/map.php?&id=98717&maplocation=false&online=true" width="900px" height="525px" style="border: none;"></iframe></p-->
				<!--iframe src="https://makeaclickablemap.com/map.php?cf2ec2ac8afdcea2195f2aa479c5014f1eb5d5d7"  height="675" width="900"></!--iframe></p>
	<script>if (window.addEventListener){ window.addEventListener("message", function(event) { if(event.data.length >= 22) { if( event.data.substr(0, 22) == "__MM-LOCATION.REDIRECT") location = event.data.substr(22); } }, false); } else if (window.attachEvent){ window.attachEvent("message", function(event) { if( event.data.length >= 22) { if ( event.data.substr(0, 22) == "__MM-LOCATION.REDIRECT") location = event.data.substr(22); } }, false); } </script-->
				<iframe src="https://createaclickablemap.com/map.php?&id=111305&maplocation=false&online=true" width="900" height="525" style="border: none;"></iframe>
				<script>if (window.addEventListener) { window.addEventListener("message", function (event) { if (event.data.length >= 22) { if (event.data.substr(0, 22) == "__MM-LOCATION.REDIRECT") location = event.data.substr(22); } }, false); } else if (window.attachEvent) { window.attachEvent("message", function (event) { if (event.data.length >= 22) { if (event.data.substr(0, 22) == "__MM-LOCATION.REDIRECT") location = event.data.substr(22); } }, false); }</script>
</div>
	</div>
</div>


</body>
</html>